.aussie{
	display:inline-block;
}

.headertext {
	display:inline-block;
	line-height: 47px;
	font-size: 30px;
	margin-bottom: 40px;
}

.header {
	text-align: center;
}

body {
	background-color: #A6ACAD;
}

.steam {
	display:inline-block;
	height:auto;
	width:500px;
	background-color: #DDDDDD;
	border: solid #444444 1px;
}

.inv {
	border-radius: 15px;
	height:100px;
	width:auto;
}

.link {
	color:#2290B5;
	width:auto;
	padding: 30px 30px;
	line-height: 40px;
	height: 40px;
}

poo.lbord {
	border:2px solid #6A7275;
	border-radius: 3px;
	height:auto;
}