.aussie{
	display:inline-block;
}

.headertext {
	display:inline-block;
	line-height: 47px;
	font-size: 30px;
	margin-bottom: 40px;
}

.header {
	text-align: center;
}

body {
	background-color: #696969;
}

.steam {
	display:inline-block;
	height:auto;
	width:500px;
	background-color: #DDDDDD;
	border: solid #444444 1px;
}