h1  {text-align:center;}
button {text-align:center;}
p.version {text-align:center;}
p.info {text-align:center;}
table,th,td{border:1px solid black;border-collapse:collapse;}
button{
	width:100px;
	border:1px solid black;
	background-color:#fff;
	margin-right:5px;
	padding:0.1em;
	font-size:0.8em;
	font-weight:500;
}
button:hover{
	background-color:#eee;
}
button:disabled{
	color:#ccc;
	font-weight:normal;
}
button:graphics{
	margin-right:0px;
}
