input {
   height      : 21px;
   line-height : 21px;
   text-align  : center;
   width       : auto;
   padding-left:10px;
   padding-right:10px;
   min-width:10px;
}

body{
	background-color: #DCE5E8;
}